.input {
    margin: 1rem 0;
}

.input-container {
    padding: 1rem;
}

.add-button {
    margin-top: 0%;
}

.total {
    font-size: 2rem;
    font-weight: bold;
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .add-button {
        margin-top: 33%;
    }
}