.hair-left {
    position: absolute;
    top: 62px;
    left: 122px;
    width: 20px;
    height: 36px;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
    position: absolute;
    top: 74px;
    left: 145px;
    width: 20px;
    height: 36px;
    background: #A6BECF;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .hair-left {
        top: 72px;
        left: 270px;
        width: 69px;
        height: 96px;
    }
    .hair-right {
        top: 96px;
        left: 345px;
        width: 69px;
        height: 96px;
    }
}