.tile-1,
.tile-2,
.tile-3 {
    width: 30%;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.tile-page {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.color-text-box {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 0;
    background: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-text {
    color: #333333;
    font-family: "Lato";
    font-size: 20px;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    font-weight: bold;
    text-transform: uppercase;
}