.header {
    padding: 1rem 0;
    background: #a7e4d9;
}

.branding a,
.link a {
    color: #bebe38;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

.img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.headerNavigation {
    margin-bottom: 2rem;
    text-align: center;
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .headerNavigation {
        text-align: left;
    }
}