.footer {
    background: #a7e4d9;
    padding: 1rem 0;
}

.footerNavigation {
    padding-top: 1rem;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footerNavigation {
        text-align: left;
    }
}