.right-ear {
    position: absolute;
    right: 0;
    top: 44px;
}

.left-ear {
    position: absolute;
    left: 0;
    top: 44px;
}

.left-outer-ear,
.right-outer-ear {
    position: relative;
    display: block;
    width: 120px;
    height: 200px;
    border-radius: 50%;
}

.left-inner-ear,
.right-inner-ear {
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    top: 10%;
    left: 50%;
    border-radius: 50%;
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .left-outer-ear,
    .right-outer-ear {
        width: 260px;
        min-height: 400px;
    }
    .right-ear {
        top: 5%;
    }
    .left-ear {
        top: 5%;
    }
}