    .head {
        position: relative;
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: 40%;
    }
    
    .head-triangle {
        position: relative;
        display: block;
        width: 220px;
        height: 150px;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        left: 50%;
        transform: translateX(-50%);
        border-top-width: 260px;
        border-top-style: solid;
    }
    /* tablet and up */
    
    @media only screen and (min-width: 768px) {
        .head {
            width: 450px;
            height: 450px;
        }
        .head-triangle {
            width: 500px;
            height: 500px;
            border-left: 200px solid transparent;
            border-right: 200px solid transparent;
            border-top-width: 550px;
        }
    }