.landing-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.transparentClass {
    background: #25a9fc;
}

.paragraphB {
    padding: 1rem 1rem 1rem 0;
}

.paragraphA {
    padding: 1rem 0rem 1rem 1rem;
}