.laptopimg {
    width: 100%;
}

.small-divider {
    width: 20%;
    height: 10px;
    background: grey;
}

.section-a {
    background: #a7e4d9;
}

.laptop {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}