.nose {
    position: absolute;
    background: orange;
    width: 60px;
    height: 100px;
    border-radius: 40%;
    top: 224px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .nose {
        width: 140px;
        height: 240px;
        top: 395px;
    }
}