.right-eye {
    position: absolute;
    width: 55px;
    height: 55px;
    right: 85px;
    top: 134px;
}

.left-eye {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 85px;
    top: 134px;
}

.left-inner-eye,
.right-inner-eye {
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.left-outer-eye,
.right-outer-eye {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


/* tablet and up */

@media only screen and (min-width: 768px) {
    .right-eye {
        width: 100px;
        height: 100px;
        right: 240px;
        top: 200px;
    }
    .left-eye {
        width: 100px;
        height: 100px;
        left: 240px;
        top: 200px;
    }
}