body {
    background: #25a9fc;
}


/* koala inner container */

.box {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    background: none;
    width: 320px;
    height: 600px;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .box {
        height: 800px;
        width: 720px;
    }
}


/* //global buttons */

.example_d {
    color: #494949 !important;
    text-transform: uppercase;
    background: transparent;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .example_d {
        margin-top: 0rem;
    }
}

.example_d:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #b6c529 !important;
}


/* button section padding */

#buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buttonpara {
    margin-top: 2rem;
}


/* gloabal utilites */

.mt-50 {
    margin-top: 50px;
}